<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @event.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @event.updated_at %>
</p>